*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header img{
    height: 50px;
    width: 100px;
    padding: 10px;
}
header{
    background-color:black ;
}
header a, header h2{
padding: 15px;
text-decoration: none;
color:white;
}
header nav li{
    display: inline-block;
    background-color: black;
    padding: 10px;
    margin-top: 5px;
    transition: transform .2s;
    text-align: center;
}
header h2{
    display: inline-block;
    font-size: 1.2em;
}
header nav a{
    padding-top: 5px;
    -webkit-transition: background-color 1s;
}
header nav a:hover{
    background-color: white;
    text-decoration: none;
    color:black;
}
.search-bar input{
    width: 80%;
    height: 35px;
    border: 2px solid rgba(0,0,0,0.5);
}
.search-bar{
    margin: 10px;
}
.search-bar button{
    background-color: rgba(255, 127, 80, 0.705);
    text-align: center;
    border:none ;
}
.search-bar button:hover{
    background-color: rgba(255, 127, 80, 0.9);
}
section{
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.article-title{
    font-size: 1.2em;
    font-weight: bold;
}
.price{
    color: rgba(153, 66, 34,1);
    font-weight: 500;
    font-size: 1.1em;
}