*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search-bar input{
    width: 80%;
    height: 35px;
    border: 2px solid rgba(0,0,0,0.5);
}
.search-bar{
    margin: 10px;
}
.search-bar button{
    background-color: #fa5788 ;
    text-align: center;
    border:none ;
}
.search-bar button:hover{
    background-color: #fa5788cb;
}
section{
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.article-title1 a{
    color: #c2185b ;
}
.contact a{
    color: #fa5788;
}
.article-title1{
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
}
.article-subtitle, .contact{
    font-size: 1.2em;
}
.bold{
    font-weight: 500;
}
.price{
    color: rgba(153, 66, 34,1);
    font-weight: 500;
    font-size: 1.3em;
}

.article-contents{
padding: 0;
}
section img{
    width: 50%;
}
#count p{
  font-weight: 560;
  font-style: italic;
  color: #c2185b;
}
button img{
    width: 25px;
}
button{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
@media screen and (min-width: 576px) {
    section img{
        width: 100%;
    }
  }