
.book-image{
    text-align: center;
}
header img{
    height: 30px;
    width: 100px;
}

.title{
    font-size: 30px;
    font-weight: 500;
}
.author, .publication, .subject, .year, .email, .name, .number {
    font-size: 17px;
    margin: 5px;
}
hr{
    margin-bottom: 10px;
    margin-top: 10px;
}
.contact-title, .description-title{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0px;
}
.description{
    margin-bottom: 30px;
}
.price{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
}
span{
    font-weight: 500;
}
.wrap{
    margin-top: 30px;
    border:1px solid rgba(158, 144, 144, 0.74);
    margin-left: 0;
    margin-right: 0;
    background-color: white;
}

.book-image img {
    height: auto;
    width: 65%;
    margin: 10px 0px;
}
@media screen and (min-width: 768px) {
    .book-image img {
        width: 95%;
    }
  }
  