*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header img{
    height: 70px;
    width: 85px;
    padding: 10px;
}
.navbar-brand a{
color: white;
}
.navbar-brand a:hover{
    text-decoration: none;
}
nav{
    background-color:#8c0032 ;
}
.collapse{
    text-align: right;
}
.super{
    background-color: rgba(0,0,0,0.9);
}
#intro{
    height: 85vh;
    width: 100%;
    height: 90%;
    background-image: url(../images/cover3.bmp.png);
    background-size:cover;
    opacity: 1;
}
.intro-text{
    color:#8c0032 ;
    text-align: center;
    position: relative;
    top: 200px;
}
.intro-text h2{
background-color:rgba(255, 255, 255, 0.842);
padding: 15px;
font-size: 50px;
}
.intro-text h3{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.842);
}
#products{
    text-align:center;
}
#products .call-to-action a{
    background-color: #c2185b;
    color:white;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px 20px;  
}
#products .call-to-action a:hover{
    box-shadow: 5px 2px 15px rgba(0,0,0,.3);
}
.article-container{
    margin: auto;
}
.article{
    margin: 20px 20px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,.3);
    transition: transform .2s;
}
#products .article:hover{
    box-shadow: 4px 4px 10px rgba(0,0,0,.4);
    transform: scale(1.03); 
}
#products img{
height: 200px;
width: 200px;
border-radius: 100%;
margin:10px auto;
}
.article-title{
    padding: 15px;
    text-align: center;
    color: #c2185b;
}
.article-text{
    padding: 0px 15px 10px;
    text-align: center;
}
footer{
    background-color: #8c0032;
    color: white;
    padding:20px;
}

footer .contact-info{
    padding: 10px 0px;
}

.collapse{
    text-align: right;
}
.navbar-brand img{
 height: 50px;
 width: 75px;
 margin-right: 10px;
}
@media screen and (min-width: 576px) {
    .book-image img {
        width: 95%;
    }
  }